@model IEnumerable<MvcTrains.Models.Train>

@{
    ViewData["Title"] = "Trains";
}

<h1>Trains</h1>

<p>
    <a asp-action="Create">Create New train</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stops)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WifiPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stops)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WifiPassword)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>